<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<input id="usrInfo" type="hidden" value='<%- user %>'/>
<div class="container" id="organizerContainer">
    <div class="header">
        <side-nav></side-nav>
        <div class="main-title">Demo-organizer</div>
        <user-connect :socket="socketIO"></user-connect>
    </div>
    <h1>Consultation des archives</h1>
    <div>
        <div class="filter-box">
            <input class="search-text" type="text" v-model="search" placeholder="Filter sur le n° de ticket"/><i
                class="material-icons">search</i>
            <button type="button" @click="print"><i class="material-icons">print</i></button>

            <select class="search-text" v-model="currentSprint">
                <option v-for="sprint in sprints" :value="sprint._id">
                    {{ sprint.name }}
                </option>
            </select>
            <button type="button" @click="load"><i class="material-icons">cloud_upload</i></button>
        </div>
    </div>
    <div class="item" v-for="ticket in tickets">
        <readonly-item :item="ticket"></readonly-item>
    </div>
</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="components.js"></script>
<script src="archive.js"></script>
</body>
</html>
