<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Création d'un élément</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<input id="usrInfo" type="hidden" value='<%- user %>'/>

<div class="container">
    <div class="header">
        <side-nav class="side-nav"></side-nav>
        <h1>Ajouter un nouvel item</h1>
    </div>
    <!-- ko component : { name : 'user-connect', params : { user : user, callback : disconnect } } -->
    <!-- /ko -->
    <div class="item">
        <div class="content">
            <div class="content__form-group">
                <label>Ticket</label><input type="text" data-bind="value : source"/>
            </div>
            <div class="content__form-group">
                <label>Titre</label><input type="text" data-bind="value : title"/>
            </div>
            <div class="content__form-group">
                <label>Description</label><textarea class="form-control" rows="4" placeholder="Entrer la description"
                                                    data-bind="value : description"></textarea>
            </div>
        </div>
        <div class="actions">
            <button type="button" data-bind="click : save"><i class="material-icons">done</i></button>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="content__form-group">
                <label>Sprint</label><input type="text" data-bind="value : sprint"/>
                <button type="button" data-bind="click : createSprint"><i class="material-icons">done</i></button>
            </div>
        </div>
    </div>
</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="components.js"></script>
<script src="create.js"></script>
</body>
</html>
