<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<input id="usrInfo" type="hidden" value='<%- user %>'/>

<div class="container" id="organizerContainer">
    <div class="header">
        <side-nav></side-nav>
        <div class="main-title">Demo-organizer</div>
        <user-connect :socket="socketIO"></user-connect>
    </div>
    <h1>Bienvenue dans l'organisation de la démo</h1>
    <edit-item v-for="item in items" :item="item" :socket="socketIO" :max="currentLength"></edit-item>


</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="components.js"></script>
<script src="client.js"></script>

</body>
</html>
