<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<input id="usrInfo" type="hidden" value='<%- user %>'/>

<div class="container" id="organizerContainer">
    <div><h1>Bienvenue dans l'organisation de la démo</h1></div>
    <!-- ko if : user -->
    <div class="user-top" data-bind="with : user">
        <img class="user-img" data-bind="attr : { src: photo }" />
        <label class="user-name" data-bind="text : name" />
    </div>
    <!-- /ko -->
    <!-- ko foreach : tickets -->
    <div class="item">
        <div class="actions">
            <button type="button" data-bind="click : $parent.moveUp"><i class="material-icons">keyboard_arrow_up</i></button>
            <button type="button" data-bind="click : $parent.moveDown"><i class="material-icons">keyboard_arrow_down</i></button>
        </div>
        <div class="content"
             data-bind="component : { name : 'item-demo', params : { item : $data, user : $root.user } }"></div>
        <div class="actions">
            <button type="button" data-bind="click : $parent.delete"><i class="material-icons">delete</i></button>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="client.js"></script>
</body>
</html>
