<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <link rel="manifest" href="manifest.webmanifest">
</head>
<body>
    <div class="container">
        <a class="connect" href="/auth/google"><i class="material-icons">lock</i>Connexion</a>
        <a class="connect" href="/print"><i class="material-icons">assignment</i>Démo</a>
    </div>
</body>
</html>