<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="manifest" href="manifest.webmanifest">
</head>
<body>
<div class="container" id="organizerContainer">
    <div>
        <div class="filter-box">
            <a href="/home" class="go-login"><i class="material-icons">chevron_left</i><span class="link-text">Accueil</span></a>
            <h1>Votre démo</h1>
            <input class="search-text" type="text" v-model="search" placeholder="Filter sur le n° de ticket"/><i
                class="material-icons">search</i>
            <button type="button" @click="print"><i class="material-icons">print</i></button>
        </div>
    </div>

    <div class="item" v-for="ticket in tickets">
        <readonly-item :item="ticket"></readonly-item>
    </div>
</div>
<!-- depedencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="components.js"></script>
<script src="print.js"></script>

<link rel="stylesheet" href="css/main.css">
</body>
</html>
