<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container" id="organizerContainer">
    <div>
        <h1>Votre démo</h1>
        <input class="search-text" type="text" data-bind="value : search, valueUpdate : 'input'"
               placeholder="Filter sur le n° de ticket"/>
    </div>

    <!-- ko foreach : tickets -->
    <div class="item">
        <div class="content"
             data-bind="component : { name : 'readonly-item', params : { item : $data } }"></div>
    </div>
    <!-- /ko -->
</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="print.js"></script>
</body>
</html>
