<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<input id="usrInfo" type="hidden" value='<%- user %>'/>

<div class="container" id="organizerContainer">
    <div class="header">
        <side-nav></side-nav>
        <user-connect :socket="socketIO"></user-connect>
    </div>
    <h1>Utilisateurs connectés</h1>
    <div class="users">
        <div class="user-connected">
            <user-item v-for="user in users" :user="user"></user-item>
        </div>
    </div>
</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="components.js"></script>
<script src="users.js"></script>
</body>
</html>
