<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Organizer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<input id="usrInfo" type="hidden" value='<%- user %>'/>

<div class="container" id="organizerContainer">
    <div><h1>Utilisateurs connectés</h1></div>
    <!-- ko if : user -->
    <div class="user-top" data-bind="with : user">
        <img class="user-img" data-bind="attr : { src: photo }" />
        <label class="user-name" data-bind="text : name" />
    </div>
    <!-- /ko -->
    <div class="users">
    <!-- ko foreach : users -->
        <user-item params="user : $data"></user-item>
    <!-- /ko -->
    </div>
</div>
<!-- depedencies -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="users.js"></script>
</body>
</html>
