@media screen and (max-width: 650px) {
  .menu {
    left: -82%;
    width: 80%;
  }

  .user-top {
    $user-top-width: 30px;
  }

  .item {

    padding: 8px;

    .content {

      .user-name {
        font-size: 1em;
      }

    }

    .actions {
      width: 13%;
    }
  }
}