/* Menu */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .side-nav.open:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(127, 127, 127, .7);
    content: ' ';
  }
  .menu-title {

    .material-icons {
      color: $item-background;
      font-size: 2em;
      line-height: 50px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -450px;
  background-color: #FFF;
  z-index: 2;
  width: 450px;
  height: 100%;
  transition: all .3s ease-in;
  box-shadow: 2px 0 2px rgba(0, 0, 0, .3);

  &.opened {
    transform: translateX(450px);
  }
}

.menu-header {
  padding: 120px 16px 16px 16px;
  background-color: $accent-color;
  color: #ffffff;
  font-size: 2em;
}

.menu-header .close-menu {
  position: absolute;
  left: 16px;
  top: 16px;
  cursor: pointer;
}

.menu-header .close-menu .material-icons {
  color: #ffffff;
  font-size: 2.5em;
}

.transition-slow {
  transition: all .3s ease-in-out;
}

.menu-links {
  color: $accent-color;

  cursor: pointer;

  position: relative;
  opacity: .8;

  &:before {
    @extend .transition-slow;

    position: absolute;
    bottom: -1px;
    transform: scale(0);
    content: '';
    background-color: $primary-color;
    width: 100%;
    height: 3px;
  }

  &:hover, &:focus {
    opacity: 1;
    outline: none;
    color: $accent-color;
    &:before {
      transform: scale(1);
    }
  }

  nav {
    padding: 16px;
  }
}

