
.user {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5em;
  line-height: 30px;
}

.user-img {
  @include round-img(30px);
}

.user-name {
  padding-left: 10px;
  font-size: 1.2em;
  height: 30px;
  line-height: 30px;
}

.user-top {
  @extend .user;
  background: $item-background;
  color: $accent-color;
  transition: all .3s ease-in;
  padding: 2px;

  @include border-radius($user-top-width / 2);

  .user-img {
    @include round-img($user-top-width);
  }

  .user-name {
    overflow: hidden;
    padding-left: 0;
    font-size: 1.5em;
    height: $user-top-width;
    line-height: $user-top-width;
    width: 0;
  }
  &:hover {
    padding-right: 16px;

    .user-name {
      width: inherit;
      padding-left: 10px;
    }
  }
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .user-connected {
    margin: 16px;
  }
}