.item {
  width: 100%;
  background: $item-background;
  color: $accent-color;
  @include border-radius(3px);
  @include box-shadow(0, 3px, 4px);
  display: flex;
  align-content: center;
  align-items: center;

  .actions {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    button {
      font-size: 2em;
    }
  }

  .content {
    width: 70%;

    &__content-title {
      font-size: 26px;
      line-height: 26px;
    }

    &__form-group {

      .form-control {
        width: 100%;
        margin: 16px auto;
        display: flex;
        flex-direction: row;
      }

      label {
        min-width: 150px;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
      }
    }
  }

}