.filter-box {

  .material-icons {
    font-size: 1.6em;
    color: $login-color;
    vertical-align: top;
  }
  .link-text {
    line-height: 1.6em;
    color:$login-color;
    vertical-align: top;
  }
  .search-text {
    @include border-radius(3px);
  }
}