@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($horizontal, $vertical,$blur) {
  box-shadow: $horizontal $vertical $blur rgba(0,0,0, 0.28);
  padding: 16px;
  margin: 16px auto;
}

@mixin round-img($size){
  @include border-radius($size / 2);
  width: $size;
  height: $size;
}