//base
$font-stack: Arial, sans-serif;
$background-color: #0277BD;
$item-background:   white;

//text colors
$primary-color:     #333;
$accent-color: #0277BD;
$screen-max-width: 990px;

//login page
$login-background:  $accent-color;
$login-color:       white;