//base
$font-stack: 'Open Sans', sans-serif;
$background-color: #35495E;
$item-background:   white;

//text colors
$primary-color: #41B883;
$accent-color: #35495E;
$screen-max-width: 990px;

//login page
$login-background:  $accent-color;
$login-color:       white;

$user-top-width: 50px;
