html,
body,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
  color: $accent-color;
  cursor: pointer;
}