@import "partials/vars";
@import "partials/reset";

a, a:hover, a:visited {
  text-decoration: none;
  color: $item-background;
}

html, body, ul, li {
  font-family: $font-stack;
}

* {
  box-sizing: border-box;
}

.container {
  background: url("img/header-background.jpg") no-repeat center center #AD835B;
  background-size: cover;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .connect {
    background-color: $primary-color;

    border: 5px solid $background-color;
    color: $item-background;

    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 2em;
    padding: 70px 0;

    flex-basis: 30%;
    text-align: center;

    &:hover {
      background: $background-color;
      border: 5px solid $background-color;
      color: $item-background;

    }
  }
}