@import "abstracts/variables";
@import "base/reset";

a, a:hover, a:visited {
  text-decoration: none;
  color: $item-background;
}

html, body, ul, li {
  font-family: $font-stack;
}

* {
  box-sizing: border-box;
}

.container {
  background: url("img/header-background-3.jpg") no-repeat left center #AD835B;
  background-size: cover;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .connect {
    text-transform: uppercase;
    background-color: $primary-color;

    border: 5px solid $primary-color;
    color: $item-background;

    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 2em;
    line-height: 2em;
    text-align: center;

    padding: 40px;
    flex: 0 0 33%;

    &:hover {
      background: $background-color;
      border: 5px solid $background-color;
      color: $item-background;

    }

    .material-icons {
      color: $item-background;
      font-size: 1.2em;
      vertical-align: sub;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .connect {
    width: 80%;
    flex: 0 0 auto !important;
  }

}