@import "partials/vars";
@import "partials/reset";
@import "partials/mixins";
@import "elements/menu";
@import "elements/user";
@import "elements/item";

html, body, ul, li {
  background: $background-color;
  color: $item-background;
  font-family: $font-stack;
}

.material-icons {
  color: $accent-color;
  font-size: 1em;
  line-height: 1em;
}

.container {
  margin: 40px auto;
  width: 100%;
  max-width: $screen-max-width;

  display: flex;
  align-content: center;
  flex-direction: column;

  .search-text {
    max-width: 150px;
    padding: 5px;

  }
}
