@import "vars";
@import "reset";
@import "mixins";

html, body, ul, li {
  background: $background-color;
  color: $item-background;
}

.material-icons {
  color: $accent-color;
  font-size: 1em;
  line-height: 1em;
}

.container {
  margin: 40px auto;
  width: 100%;
  max-width: $screen-max-width;

  display: flex;
  align-content: center;
  flex-direction: column;

  .user {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    &-img {
      @include xsmall-img();
    }

    &-name {
      padding-left: 10px;
      font-size: 1.2em;
      height: 30px;
      line-height: 30px;
    }

    .material-icons {
      font-size: 1.5em;
      line-height: 30px;
    }
  }

  .user-top {
    @extend .user;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;

    background: $item-background;
    color: $accent-color;

    @include border-radius(27px);
    padding: 2px 16px 2px 2px;

    .user-img {
      @include small-img();
    }

    .user-name {
      padding-left: 10px;
      font-size: 1.5em;
      height: 50px;
      line-height: 50px;
    }
  }

  .item {
    width: 100%;
    background: $item-background;
    color: $accent-color;
    @include border-radius(3px);
    @include box-shadow(0, 3px, 4px);
    display: flex;
    align-content: center;
    align-items: center;

    .actions {
      width: 15%;
      display: flex;
      flex-direction: column;
      align-content: space-around;

      button {
        font-size: 2em;
      }
    }

    .content {
      width: 70%;

      &__content-title {
        font-size: 26px;
        line-height: 26px;
      }

      &__form-group {

        .form-control {
          width: 100%;
          margin: 16px auto;
          display: flex;
          flex-direction: row;
        }

        label {
          min-width: 150px;
          font-size: 1.2em;
          display: flex;
          justify-content: space-between;
        }
      }
    }

  }
}
