@import "partials/vars";
@import "partials/reset";
@import "partials/mixins";
@import "elements/menu";
@import "elements/user";
@import "elements/item";
@import "elements/print";

html, body {
  background: $background-color;
  color: $item-background;
  font-family: $font-stack;
}

* {
  box-sizing: border-box;
}

.material-icons {
  color: $accent-color;
  font-size: 1em;
  line-height: 1em;
}
.middle-size  {
  font-size: 1.2em;
  line-height: 1.2em;

  .material-icons {
    line-height: 1.2em;
    vertical-align: bottom;
  }
}
.container {
  margin: 40px auto;
  width: 100%;
  max-width: $screen-max-width;

  .search-text {
    max-width: 150px;
    padding: 5px;

  }
}

//need to be positioned at the end of file
@import "medias/print";